.salem{
  padding-top: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 4rem;
}
.kimbolasyn{
  padding-top: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 4rem;  
}
