body {
  font-family: 'Poppins', sans-serif;
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    margin: 0px;

}
img {
    width: 92%;
    height: auto;
    align-items: center;
}
.logo{
  width: 70px;
  height: 70px;
  padding: 0;
  margin-left: 43.325px;
}
.logo-link{
  height: 70px;
}
.outer-container{
  background: #74ebd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-bottom: 2px;
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-style: solid;

}
.nav-container{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-top{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 0;
  font-size: 100%;
  margin-left: auto;
}
.list-item{
  padding: 0;
  list-style: none;
}
li.list-item{
  font-size: 1.5em;
  line-height: 1em;
  display: list-item;
  margin-right: 50px;
}
.list-item a{
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.homepage{
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90%
}
.banner-title{
  font-size: 2.5em;
  color: black;
}
.banner-subtitle{
  font-size: 1.5em;
}
.photo{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  float: right;
  max-width: 74%;
  width: auto;
}
.profilePhoto{
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  margin: 1em;
  align-content: center;
}
.flat-button{
    color: black;
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid black;
    float: left;
}
a{
  text-decoration: none;
  letter-spacing: 3px;
  color: black;
}
.about{
  position: relative;
  align-items: center;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90%
}
p{
  display: inline;
}
h1{
  font-size: 2.5em;
  margin: 0px;
}
.about-title{
  display: flex;
}
footer{
  background: #74ebd5;
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
align-content: center;
text-align: center;
border-bottom: 0px;
border-top: 2px;
border-left: 0px;
border-right: 0px;
border-style: solid;
bottom: auto;
display: block;
font-size: 0.8em;
padding-top: 10px;
padding-bottom: 10px;
}
.skills{
  font-size: 1.5em;
  padding-left: 35px;
}
.portfolio{
  font-size: 1.5em;
  padding-left: 35px;
}
.contact{
  padding-left: 35px;
}

.aitulogo{
  width: 75px;
}
.logopm{
width: 20px;
}
.nis{
  width: 75px;
}
